---
http_interactions:
- request:
    method: post
    uri: https://sendotp.msg91.com/api/generateOTP
    body:
      encoding: UTF-8
      string: '{"countryCode":"91","mobileNumber":"9446716017","getGeneratedOTP":true}'
    headers:
      Application-Key:
      - wxbVLZX3w7aHKJCbS1uA24UELXL_4ehOwMl-P9xZ6-htcuRIq6TDqxO51KWHpTIPxyZ28BYkWGe2M4M5jPeL8yOsIQl73zafV8upTZTDeHDmWpXvYfLc6Aew4ZyZRK_HGNi_ZKZ82VjUMC-uiw0pbQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"success","response":{"code":"OTP_SENT_SUCCESSFULLY","oneTimePassword":"7777"}}'
  recorded_at: Tue, 28 Mar 2017 14:04:49 GMT
recorded_with: VCR 3.0.3
